app = "gram-reaper"
primary_region = "fra"

[build]

[env]
  NODE_ENV = "production"
  DATABASE_PATH = "/data/gramreaper.db"
  PORT = "8080"

[[mounts]]
  source = "gram_reaper_data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "requests"
    hard_limit = 100
    soft_limit = 50

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
